:root {
    color-scheme: dark light;
}

header {
    display: flex;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header div img {
    cursor: pointer;
}

header a {
    margin-left: 2vw;
}

#avatar {
    animation: 7s linear 0s infinite normal both paused rot;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
    margin-bottom: 2vh;
    margin-top: 4vh;
}

@keyframes rot {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}